<div style='display: flex; margin-top: 10px'>
  {{#each totals as |total| }}
    <div class="" style="margin-left: 20px" href='#'>
      <div class="">{{total.label}} : {{total.count}}</div>
    </div>
  {{/each}}  
</div>