<AuMainHeader  @homeRoute="index" @appTitle="Loket Dashboard">
  <li class="au-c-list-horizontal__item">
    {{#if this.session.isAuthenticated}}
      <AcmidmLogout @tagName="button" class="au-c-button au-c-button--tertiary" role="menuitem">
        <AuIcon @icon="logout" @alignment="left" />Afmelden
      </AcmidmLogout>
    {{/if}}
  </li>
</AuMainHeader>

{{#if this.session.isAuthenticated}}
<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__content">
    <div class="au-c-body-container">
      <div class="nav-container">
        <LinkTo @route='reports' class="nav-link">
          Reports
        </LinkTo>
        <LinkTo @route='errors' class="nav-link">
          Errors
        </LinkTo>
        <LinkTo @route='@lblod/ember-jobs-dashboard-engine.index' class="nav-link">
          Jobs
        </LinkTo>
      </div>
      <div id="content" class="au-c-body-container">
        {{outlet}}
      </div>
    </div>
  </div>
</main>
{{else}}
  {{outlet}}
{{/if}}