<div class="au-o-region-large">
  <div class="au-o-layout">
    <AuHeading @skin="4" class="au-u-margin-bottom-small au-u-margin-bottom-small">{{t 'login.submit'}}</AuHeading>
    <MuLogin/>
  </div>
</div>
